
 /* TENTATIVA 1:
 
 body {
    background-color: rgb(174, 174, 174);
    
}

.retangulo {
   background-image: url(ada-lovelace.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   width: 500px;
   height: 575px;
   display: inline-block;

}

.retangulo2 {
    display: inline-block;
    width: 250px;
    height: 300px;
    margin-left: 20px;
    vertical-align: top;
 }

 RESOLUÇÃO:
 */
 .container {
    margin: auto;
    width: 800px;
    background-color: rgb(181, 180, 198);
    height: 540px;
 }

 .flutuante {
    float: left;
    width: 400px;
    height: 540px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
 }

 P {
    margin-left: 500px;
    padding-top: 20px;
    padding-right: 20px;
 }
